* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font-color);
}

:root {
    --linear-color1: #e66465;
    --linear-color2: #9198e5;
    --font-color: #ffffff;
    --black-color: #000000;
}

body,html {
    background: linear-gradient(190deg, var(--linear-color1),var(--linear-color2));
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title header h1 {
    margin: 1em 0em 1em 0;
}

.containerGrid {
    display: flex;
    flex-wrap: wrap;
    max-width: 270px;
    max-height: 270px;
    margin-bottom: 2em;
}

.cell {
    height: 15px;
    width: 15px;
    border-radius: 3px;
    border: 0.5px solid var(--black-color);
}

.options {
    display: flex;
    justify-content: space-around;
}

button,input{
    background-color: transparent;
    padding: .5em;
    border: 1px solid var(--font-color);
    border-radius: 3px;
    transition: 1s all ease;
}

button:hover,
input:hover {
    background-color: var(--font-color);
    color: var(--black-color);
}

button:focus,
input:focus {
    background-color: var(--font-color);
    color: var(--black-color);
}





