* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font-color);
}

:root {
    --linear-color1: #e66465;
    --linear-color2: #9198e5;
    --font-color: #ffffff;
    --black-color: #000000;
}

html,
body {
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title header h1 {
    margin: 1em 0em 1em 0;
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 300px;
    width: 250px;
    margin-bottom: 1em;
    overflow: hidden;
    margin-right: 0em;
}

.cell {
    width: 10px;
    height: 10px;
    border-radius: 2px;
    border: 0.5px solid var(--black-color);
}

.option {
    display: flex;
    justify-content: space-between;
}

button,
input {
    background-color: transparent;
    padding: .5em;
    border: 1px solid var(--font-color);
    border-radius: 3px;
    transition: 1s all ease;
}

button:hover,
input:hover {
    background-color: var(--font-color);
    color: var(--black-color);
}

button:focus,
input:focus {
    background-color: var(--font-color);
    color: var(--black-color);
}